
body
{
	margin:0;
	padding:0;
	overflow-x: hidden;
	width:100%;
	height:100%;
}
html
{
	overflow: hidden;
}
.inbody1
{
	display:flex;
	flex-direction: row;
	background-color:dodgerblue;
	color:white;
	padding-left:15%;
	height:100px;
}

.inbody1-1
{
flex:1 2 50%;
text-align: center;
margin-left:-30px;
}
.inbody1-1 img
{
	padding-top:5px;
	width:115px;
	height:90px;
}
.inbody1-2
{
	flex:1 2 50%;
	padding-top:5px;
}
.inbody1-2 li
{
	list-style-type: none;
	margin-top:13px;
	font-size:16px;
}
.order
{
	margin:-10px 0px;
	height:380px;
	border-bottom:1px solid rgba(159,159,159,1.00);
}
.order-info
{
	text-align: center;
	font-size:17px;
	border-bottom:1px solid rgba(159,159,159,1.00);
	padding-top:0px;
	height:32px;
}
.order-ing
{
    display:flex;
	flex-direction: row;
	border-bottom:1px solid rgba(146,138,138,1.00);
}

.order-ing li
{
list-style-type: none;

}
.order-dcl{
	flex:1 3 33%;
	text-align: center;
	border-right:1px solid rgba(139,133,133,1.00);
	height:28px;
	padding-top:5px;
}
.order-jxz
{
	flex:1 3 33%;
	text-align: center;
	border-right:1px solid rgba(139,133,133,1.00);
	height:28px;
	padding-top:5px;
}
.order-ywc
{
	flex:1 3 33%;
	text-align: center;
	border-right:1px solid rgba(139,133,133,1.00);
	height:28px;
	padding-top:5px;
}
.order-list1
{
 display:flex;
}
.order-list2
{
 display:flex;
}
.order-list-z
{
	flex:1 2 50%;
	text-align: center;
	margin-top:-3px;
}
.order-list-y
{
	flex:1 2 50%;
	text-align: center;
	margin-top:5px;
}

.order-a{
	text-decoration:none;
	color:black;
	font-size:15px;
}
button
{
	font-size:14px;
	height:35px;
	width:74px;
	text-align: center;
	margin-left:5px;
}
.order-ing a:hover{

	font-size:17px;
}
.business-info
{
	margin:0px;
}
.business-info li
{
	list-style-type: none;
	height:30px;
	border-bottom:1px solid rgba(139,133,133,1.00);
	padding-bottom:0px;
	margin-top:5px;

}
.business-info a
{
	text-decoration: none;
	color:black;
}
.business-li
{
	margin-left:-30px;
}
 span
{
	display:block;
	float:right;
	width:50px;
	font-size: 18px;
	color:rgba(231,101,103,1.00);
	font-weight: 500;
}
.business-info a:hover{
	font-size:17px;
}

.aactive {
    font-size: 20px;
}