body
{
	margin:0;
	padding:0;
	overflow-x: hidden;
	width:100%;
	height:100%;
}
html
{
	overflow: hidden;
}
.inbody1
{
	display:flex;
	flex-direction: row;
	background-color:dodgerblue;
	color:white;
	padding-left:15%;
	height:100px;
	padding-top:10px;
}
.inbody1-1
{
flex:1 1 50%;
text-align: center;
}
.inbody1-1 img
{
	width:85px;
	height:85px;
}
.userimg
{
	border-radius: 200%;
	margin-left:-70px;
}
.inbody1-2
{
	flex:1 1 50%;
    display:flex;
	align-items: center;
	justify-content: flex-start;
	margin-left:-80px;
}
.inbody1-2 li
{
	list-style-type: none;
}
.order-body
{
	margin:0px;
	border-bottom:1px solid rgba(170,113,196,0.13);
	height:50vh;
}
.order-inf
{
	border-bottom:1px solid rgba(170,113,196,0.13);
   justify-content: center;
	height:40px;
	display:flex;
	align-items: center;
}
.order-inf span
{
	text-align: center;
	font-size:16px;
	font-family:"YouYan";
}
.order-list
{
	display:flex;
	border-bottom:1px solid rgba(170,113,196,0.13);

}
.order-doing
{
	flex:1 1 50%;
	border-right:2px solid rgba(170,113,196,0.13);
	height:40px;

}
.order-done
{
	flex:1 1 50%;
	height:40px;
}
.but
{
	border-bottom:1px solid rgba(170,113,196,0.13);
	text-decoration: none;
	display:block;
	color:black;
	height:40px;
	display:flex;
	align-items: center;
	justify-content: center;
}
.but:hover
{
	background-color:rgba(83,97,53,0.21);
	color:white;
	text-decoration: none;
}
.order-done span
{
	font-size:16px;
	border:none;
}
.order-total
{


}
.order-li
{
	height:35px;
	list-style-type: none;
	border-bottom:1px solid rgba(170,113,196,0.13);
}

.order-a
{
	height:45px;
	text-decoration: none;
	display:block;
	color:black;
	margin-left:-33px;
	padding-top:10px;
}
.order-a span
{
	disply:flex;
	align-items: center;
}
.order-a:hover
{
	background-color:rgba(83,97,53,0.21);
	color:white;
	text-decoration: none;
}
.tb1
{
	float:right;
	margin-right:30px;
}
.wz1
{
	margin-left:5px;
}

.aactive {
    background-color: rgba(83, 97, 53, 0.21);
    color: white;
    text-decoration: none;
}