#block {
  width: 600px;
  margin: 0 auto; }

.nav, .row, .input-group,
h4, h3, a, p {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  height: 100%; }

hr {
  margin: 0; }

div[class*="col-"] {
  padding: 0; }

select {
  outline: none;
  border: none;
  background: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

input {
  border: none; }

header {
  color: white;
  background: #558AD8;
  padding: 17px 20px;
  height: 70px; }

ul {
  border: none !important; }

a {
  color: black; }

.title {
  border-left: 4px solid #558AD8;
  padding-left: 8px;
  margin-bottom: 10px; }

hr {
  border-color: #efefef; }
