{% load staticfiles %}
{% load mvctags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=600px">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>智慧食堂</title>
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <!-- juqery -->
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="{% static 'css/index/common_css.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/index/main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="block">


    <!--title_top-->
    <header>
        <div class="row">
            <div class="col-xs-3">
                <select class="canteen" title="canteen" onchange="javascript:location.href=this.value;">
                    <option value="?position=3" {% if request.GET.position == '3' %}selected="selected"{% endif %}>
                        武院食堂
                    </option>
                    <option value="?position=1" {% if request.GET.position == '1' %}selected="selected"{% endif %}>
                        楚园食堂
                    </option>
                    <option value="?position=2" {% if request.GET.position == '2' %}selected="selected"{% endif %}>
                        汉园食堂
                    </option>
                </select>
            </div>

            <div class="col-xs-6 text-center">
                <form action="" method="get">
                    {% csrf_token %}
                    <label for="q"></label>
                    <input class="text-center" id="q" type="search" name="q" value="武院特色热干面" onfocus="this.value=''">
                    <input type="submit" style="display: none">
                </form>
            </div>

            <div class="col-xs-3  text-right" style="cursor: pointer" onclick="location.href={% url 'ucenterindex' %}">
                <span class="glyphicon glyphicon-user"></span>
            </div>
        </div>
    </header>

    <!--slider-->
    <div id="slider">
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide col-xs-12" data-ride="carousel">
                <!-- Indicators -->
                {% get_banner as banner_list %}
                <ol class="carousel-indicators">
                    {% for id in banner_list|length|crenumlist %}
                        {% if id == 0 %}
                            <li data-target="#carousel-example-generic" data-slide-to="{{ id }}" class="active"></li>
                        {% else %}
                            <li data-target="#carousel-example-generic" data-slide-to="{{ id }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for banner in banner_list %}
                        {% if forloop.first %}
                            <div class="item active ">
                                <img src="media/{{ banner.image }}" alt="{{ banner.alttext }}">
                            </div>
                        {% else %}
                            <div class="item ">
                                <img src="media/{{ banner.image }}" alt="{{ banner.alttext }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <!--content-->
    <main>
        <div class="row" id="main_nav">
            <div class="col-xs-12">
                <!-- Nav tabs -->
                <ul class="nav-tabs nav text-center" role="tablist">
                    <li class="col-xs-4 active" role="presentation">
                        <a href="#food_fine" aria-controls="home" role="tab" data-toggle="tab">
                            <img class="filter" src="{% static 'img/logo1.png' %}" alt="">
                            <p class="text-center">精品推荐</p>
                        </a>
                    </li>
                    <li class="col-xs-4" role="presentation">
                        <a href="#food_eat" aria-controls="profile" role="tab" data-toggle="tab">
                            <img class="filter" src="{% static 'img/logo2.png' %}" alt="">
                            <p class="text-center">餐品类</p>
                        </a>
                    </li>
                    <li class="col-xs-4" role="presentation">
                        <a href="#food_drink" aria-controls="messages" role="tab" data-toggle="tab">
                            <img class="filter" src="{% static 'img/logo3.png' %}" alt="">
                            <p class="text-center">饮品类</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" style="height: 30px;background:rgba(0,0,0,0.04)">

        </div>
        <div class="row" id="content">
            <div class="col-xs-12">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active canteen" id="food_fine">
                        <div class="row">
                            <h3 class="title">精品推荐</h3>
                        </div>
                        {% for business in recommend_list %}
                            <a href="">
                                <div class="show row ">
                                    <div class="col-xs-3">
                                        <img src="media/{{ business.business.image }}" alt="">
                                    </div>
                                    <div class="col-xs-9">
                                        <h4>{{ business.business.name }}</h4>
                                        <span>
                                        <p>特色菜：{% for food in business.business.special.foods.all %}
                                            {{ food.name }}
                                            {% empty %}
                                            {% for food in business.business.foodlist.all|slice:"3" %}
                                                {{ food.name }}
                                            {% endfor %}
                                        {% endfor %}</p>
                                        <span><p class="text-right">人均消费：{{ business.business.average }}元</p></span>
                                </span>
                                    </div>
                                </div>
                            </a>
                            <hr>
                        {% endfor %}
                    </div>

                    <div role="tabpanel" class="tab-pane canteen" id="food_eat">
                        <div class="row">
                            <h3 class="title">美味餐点</h3>
                        </div>
                        {% business_type_filter business_list 1 as meal_list %}
                        {% for business in meal_list %}
                            <a href="">
                                <div class="show row ">
                                    <div class="col-xs-3">
                                        <img src="media/{{ business.image }}" alt="">
                                    </div>
                                    <div class="col-xs-9">
                                        <h4>{{ business.name }}</h4>
                                        <span>
                                        <p>特色菜：{% for food in business.special.foods.all %}
                                            {{ food.name }}
                                            {% empty %}
                                            {% for food in business.foodlist.all|slice:"3" %}
                                                {{ food.name }}
                                            {% endfor %}
                                        {% endfor %}
                                            </p>
                                        <span><p class="text-right">人均消费：{{ business.average }}元</p></span>
                                </span>
                                    </div>
                                </div>
                            </a>
                            <hr>
                        {% endfor %}
                    </div>

                    <div role="tabpanel" class="tab-pane canteen" id="food_drink">
                        <div class="row">
                            <h3 class="title">饮品精选</h3>
                        </div>
                        {% business_type_filter business_list 2 as drink_list %}
                        {% for business in drink_list %}
                            <a href="">
                                <div class="show row ">
                                    <div class="col-xs-3">
                                        <img src="media/{{ business.image }}" alt="">
                                    </div>
                                    <div class="col-xs-9">
                                        <h4>{{ business.name }}</h4>
                                        <span>
                                        <p>特色菜：{% for food in business.special.foods.all %}
                                            {{ food.name }}
                                            {% empty %}
                                            {% for food in business.foodlist.all|slice:"3" %}
                                                {{ food.name }}
                                            {% endfor %}
                                        {% endfor %}
                                            </p>
                                        <span><p class="text-right">人均消费：{{ business.average }}元</p></span>
                                </span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </main>

    <!--footer-->
    <footer style="height: 80px">
    </footer>
</div>
<script>
    {% if not request.user.is_authenticated %}
    $(document).ready(function () {
        window.location.href="{{ auth_url|safe }}";
    })
    {% endif %}
</script>
</body>
</html>