{% load staticfiles %}
{% load mvctags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=600px">
    <link rel="shortcut icon" href="#" type="image/x-icon"/>

    <meta name="format-detection" content="telephone=no">
    <title>智慧食堂</title>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href="{% static 'css/index/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/index/main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="block">

    <!--title_top-->
    <header>
        <div class="row">
            <div class="col-xs-3">
                <select class="canteen" title="canteen" onchange="javascript:location.href=this.value;">
                    <option value="?position=3" {% if request.GET.position == '3' %}selected="selected"{% endif %}>
                        武院食堂
                    </option>
                    <option value="?position=1" {% if request.GET.position == '1' %}selected="selected"{% endif %}>
                        楚园食堂
                    </option>
                    <option value="?position=2" {% if request.GET.position == '2' %}selected="selected"{% endif %}>
                        汉园食堂
                    </option>
                </select>
            </div>

            <div class="col-xs-6 text-center">
                <form action="{% url 'index' %}" method="get">
                    <label for="show"></label>
                    <input id="show" class="text-center" type="search" name="q"
                           value="{% if is_search %}{{ is_search }}{% else %}武汉热干面{% endif %}" onfocus="this.value=''"
                           required>
                    <input type="submit" style="display: none">
                </form>
            </div>

            <div class="col-xs-3  text-right" style="cursor: pointer" onclick="location.href={% url 'ucenterindex' %}">
                <span class="glyphicon glyphicon-user"></span>
            </div>
        </div>
    </header>

    <div id="search" style="display: none">
        <p class="text-center" id="cantent_search">匹配商家</p>
        {% for business in search_list %}
            <a href="{% url 'businessdetail' business.pk %}">
                <div class="show row ">
                    <div class="col-xs-3">
                        <img src="/media/{{ business.image }}" alt="">
                    </div>
                    <div class="col-xs-9">
                        <h4>{{ business.name }}</h4>
                        <span>
                                        <p>特色菜：{% for food in business.special.foods.all %}
                                            {{ food.name }}
                                        {% empty %}
                                            {% for food in business.foodlist.all|slice:"3" %}
                                                {{ food.name }}
                                            {% endfor %}
                                        {% endfor %}</p>
                                        <span><p class="text-right">人均消费：{{ business.average }}元</p></span>
                                </span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <!--slider-->
    <div style="overflow-y: hidden">
        <div id="search_Q">
            <div id="slider">
                <div class="row">
                    <div id="carousel-example-generic" class="carousel slide col-xs-12" data-ride="carousel">
                        <!-- Indicators -->
                        {% get_banner as banner_list %}
                        <ol class="carousel-indicators">
                            {% for id in banner_list|length|crenumlist %}
                                {% if id == 0 %}
                                    <li data-target="#carousel-example-generic" data-slide-to="{{ id }}"
                                        class="active"></li>
                                {% else %}
                                    <li data-target="#carousel-example-generic" data-slide-to="{{ id }}"></li>
                                {% endif %}
                            {% endfor %}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            {% for banner in banner_list %}
                                {% if forloop.first %}
                                    <div class="item active ">
                                        <img src="media/{{ banner.image }}" alt="{{ banner.alttext }}">
                                    </div>
                                {% else %}
                                    <div class="item ">
                                        <img src="media/{{ banner.image }}" alt="{{ banner.alttext }}">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

            <!--content-->
            <main>
                <div class="row" id="main_nav">
                    <div class="col-xs-12">
                        <!-- Nav tabs -->
                        <ul class="nav-tabs nav text-center" role="tablist">
                            <li class="col-xs-4 active" role="presentation">
                                <a href="#food_fine" aria-controls="home" role="tab" data-toggle="tab">
                                    <img class="filter" src="http://ouq4wie1o.bkt.clouddn.com/logo1.png" alt="">
                                    <p class="text-center">精品推荐</p>
                                </a>
                            </li>
                            <li class="col-xs-4" role="presentation">
                                <a href="#food_eat" aria-controls="profile" role="tab" data-toggle="tab">
                                    <img class="filter" src="http://ouq4wie1o.bkt.clouddn.com/logo2.png" alt="">
                                    <p class="text-center">餐品类</p>
                                </a>
                            </li>
                            <li class="col-xs-4" role="presentation">
                                <a href="#food_drink" aria-controls="messages" role="tab" data-toggle="tab">
                                    <img class="filter" src="http://ouq4wie1o.bkt.clouddn.com/logo3.png" alt="">
                                    <p class="text-center">饮品类</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="height: 30px;background:rgba(0,0,0,0.04)">

                </div>
                <div class="row" id="content">
                    <div class="col-xs-12">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active canteen" id="food_fine">
                                <div class="row">
                                    <h3 class="title">精品推荐</h3>
                                </div>
                                {% for business in recommend_list %}
                                    <a href="{% url 'businessdetail' business.business.pk %}">
                                        <div class="show row ">
                                            <div class="col-xs-3">
                                                <img src="media/{{ business.business.image }}" alt="">
                                            </div>
                                            <div class="col-xs-9">
                                                <h4>{{ business.business.name }}&nbsp;&nbsp;
                                                    {% if not business.business.is_open %}
                                                        <span style="background: #4b7fd3; color: #FFFFFF; ">商家休息</span>
                                                    {% endif %}
                                                    <span class="pull-right"
                                                          style="font-size: 18px">综合评分：{{ business.business.rank }}</span>
                                                </h4>

                                                <span>
                                        <p>特色菜：{% for food in business.business.special.foods.all %}
                                            {{ food.name }}
                                        {% empty %}
                                            {% for food in business.business.foodlist.all|slice:"3" %}
                                                {{ food.name }}
                                            {% endfor %}
                                        {% endfor %}</p>
                                                <span><p class="pull-left">位置：{{ business.business.get_position_display }} {{ business.business.get_floor_display }}</p></span>
                                            <span><p class="text-right">人均消费：{{ business.business.average }}元</p></span>
                                </span>
                                            </div>
                                        </div>
                                    </a>
                                    <hr>
                                {% endfor %}
                            </div>

                            <div role="tabpanel" class="tab-pane canteen" id="food_eat">
                                <div class="row">
                                    <h3 class="title">美味餐点</h3>
                                </div>
                                {% business_type_filter business_list 1 as meal_list %}
                                {% for business in meal_list %}
                                    <a href="{% url 'businessdetail' business.pk %}">
                                        <div class="show row ">
                                            <div class="col-xs-3">
                                                <img src="media/{{ business.image }}" alt="">
                                            </div>
                                            <div class="col-xs-9">
                                                <h4>{{ business.name }}&nbsp;&nbsp;{% if not business.is_open %}
                                                    <span style="background: #4b7fd3; color: #FFFFFF; ">商家休息</span>
                                                {% endif %}
                                                    <span class="pull-right"
                                                          style="font-size: 18px">综合评分：{{ business.rank }}</span>

                                                </h4>

                                                <span>
                                        <p>特色菜：{% for food in business.special.foods.all %}
                                            {{ food.name }}
                                        {% empty %}
                                            {% for food in business.foodlist.all|slice:"3" %}
                                                {{ food.name }}
                                            {% endfor %}
                                        {% endfor %}
                                            </p>
                                                <span><p class="pull-left">位置：{{ business.get_position_display }} {{ business.get_floor_display }}</p></span>
                                            <span><p class="text-right">人均消费：{{ business.average }}元</p></span>
                                </span>
                                            </div>
                                        </div>
                                    </a>
                                    <hr>
                                {% endfor %}
                            </div>

                            <div role="tabpanel" class="tab-pane canteen" id="food_drink">
                                <div class="row">
                                    <h3 class="title">饮品精选</h3>
                                </div>
                                {% business_type_filter business_list 2 as drink_list %}
                                {% for business in drink_list %}
                                    <a href="{% url 'businessdetail' business.pk %}">
                                        <div class="show row ">
                                            <div class="col-xs-3">
                                                <img src="media/{{ business.image }}" alt="">
                                            </div>
                                            <div class="col-xs-9">
                                                <h4>{{ business.name }}&nbsp;&nbsp;{% if not business.is_open %}
                                                    <span style="background: #4b7fd3; color: #FFFFFF; ">商家休息</span>
                                                {% endif %}
                                                    <span class="pull-right"
                                                          style="font-size: 18px">综合评分：{{ business.rank }}</span>
                                                </h4>
                                                <span>
                                        <p>特色菜：{% for food in business.special.foods.all %}
                                            {{ food.name }}
                                        {% empty %}
                                            {% for food in business.foodlist.all|slice:"3" %}
                                                {{ food.name }}
                                            {% endfor %}
                                        {% endfor %}
                                            </p>
                                                <span><p class="pull-left">位置：{{ business.get_position_display }} {{ business.get_floor_display }}</p></span>
                                            <span><p class="text-right">人均消费：{{ business.average }}元</p></span>
                                            </span>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </main>

            <!--footer-->
            <footer style="height: 80px">
            </footer>
        </div>
    </div>
</div>


<script>

    {% if request.GET.q %}
        $(document).ready(function () {
            $("#show").click();
        });
    {% endif %}

    $("#show").click(function () {
        $("#search").show();
    });

    tag1 = $("#search_Q");
    $("#show").click(function () {
        tag1.css("filter", "blur(38px)");
        tag1.css("-webkit-filter", "blur(38px)");
        tag1.css("-ms-filter", "blur(38px)");
        tag1.css("background", "rgba(255, 200, 200, 0.03)");
        tag1.css("pointer-events", "none");
    });

    $(document).mouseup(function (e) {
        const _con = $(' #search ');
        if (!_con.is(e.target) && _con.has(e.target).length === 0) { // Mark 1
            $("#search").hide();
            tag1.css("-webkit-filter", "none");
            tag1.css("-ms-filter", "none");
            tag1.css("filter", "none");
            tag1.css("background", "none");
            tag1.css("pointer-events", "auto");
        }
    });

</script>
</body>
</html>