
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503059795702'); /* IE9*/
  src: url('iconfont.eot?t=1503059795702#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503059795702') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503059795702') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503059795702#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-QQ:before { content: "\e607"; }

.icon-weixin:before { content: "\e63e"; }

.icon-tag:before { content: "\e686"; }

.icon-home:before { content: "\e62f"; }

.icon-weibo:before { content: "\e619"; }

.icon-github:before { content: "\e6ed"; }

.icon-xing:before { content: "\e630"; }

.icon-xingzhuang46:before { content: "\e640"; }

.icon-fenlel:before { content: "\e603"; }

.icon-guanzhu:before { content: "\e714"; }

.icon-dianzan:before { content: "\e65c"; }

.icon-wenzhang:before { content: "\e61c"; }

.icon-riqi:before { content: "\e610"; }

.icon-tuandui:before { content: "\e631"; }

.icon-youxiutuandui:before { content: "\e611"; }

.icon-TimeLine-copy:before { content: "\e606"; }

.icon-jingzhun:before { content: "\e72b"; }

.icon-laoshi:before { content: "\e682"; }

.body
{
  margin:0;
  padding:0;
}
.head,.food
{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:-8px auto;
}
.head
{
  height:100px;
  background-color:rgba(36,119,196,0.84);
}
.head span
{
  font-size:18px;
  color:white;
  font-weight: 500;
}
.food
{
  height:100px;
  border-bottom:1px solid rgba(128,140,203,0.35);
}
.food span
{
  font-size:16px;
  font-family: 幼圆;
}
.star-body
{
  width:100%;
  height:300px;
  margin:12px auto;
}

.star-kw,.star-jg,.buttont
{
  display:flex;
  justify-content: center;
  margin-top:50px;
}
.mei
{
  margin-top:10px;
  margin-right:10px;
}
.buttont
{
  height:50px;
  align-items: center;
}
.buttont button
{
  background-color:rgba(36,119,196,0.75);
  height:40px;
  width:90px;
  border:none;
}
.buttont span{
  font-size:16px;
  font-family: 幼圆;
  color:white;
}
.ts
{
  display:flex;
  height:50px;
  justify-content: center;
  align-items: center;
  font-size:14px;
  margin-top:20px;
}
