.nav, .row, .input-group,
h4, h3, a, p {
    margin: 0;
    padding: 0;
}

div[class*="col-"] {
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

hr {
    margin: 0;
}

ul {
    border: none !important;
}

a {
    color: black;
}

select {
    outline: none;
    border: none;
    background: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

hr {
    border-color: #efefef;
}

h4 {
    font-size: 1.7em;
}

p, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
}

input {
    border: none;
}

#block {
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    color: white;
    background: #558AD8;
    padding: 17px 20px;
    height: 75px;
}

header a {
    color: white;
}

header span {
    font-size: 2.1em;
}

header select {
    font-size: 1.9em;
}

.title {
    border-left: 4px solid #558AD8;
    padding-left: 8px;
    font-size: 1.7em;
    line-height: 1;
    margin: 3px 0;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.glyphicon-menu-left, .glyphicon-user {
    font-size: 2.7em;
}

.btn-lg {
    font-size: 1.9em;
}

a {
    text-decoration: none !important;
}