{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联系开发团队</title>
<style type="text/css">
body{
	margin:50px;}
img{
	margin-bottom:0px;}
h1{
	font-size:40px;
	font-family:KaiTi,sans-serif;
	text-align:center;}
h2{
	font-size:50px;
	font-family:KaiTi,sans-serif;
	text-indent:2em;
	font-weight:normal;}
p{
    font-size:50px;
	font-family:KaiTi,sans-serif;}
</style>

</head>

<body>
<p style="text-align:center"><img src="{% static 'img/logo.jpg' %}" width="500" height="500"/>
<h1>智慧食堂 v1.0</h1>
<h2>智慧食堂是一款方便师生能够在线上预约点餐的服务性平台。以师生线上预约点餐的方式带给师生极致的就餐体验。如有疑问请联系我们！</h2>
<p>电话：18086407782</p>
<p>微信：18086407782</p>
<p>Q Q：283500638</p>
</body>
</html>
