<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>产品协议</title>
    <style type="text/css">
        body {
            margin: 50px;
        }

        h1 {
            font-size: 100px;
            font-family: KaiTi, sans-serif;
            text-align: center;
        }

        p {
            font-family: KaiTi, sans-serif;
            font-size: 50px;
            text-indent: 2em;
        }

        li {
            font-family: KaiTi, sans-serif;
            font-size: 50px;
        }

        div {
            margin-left: 50px;
        }

    </style>
</head>

<body>

<h1>产品使用协议</h1>
<p>首先感谢您选择使用智慧食堂的服务和产品。为了保障您和其他用户的合法权益，请您使用前认真阅读此使用协议。产品一经正式使用则代表您同意此使用协议所述条款。</p>
<div>
    <ol>
        <li>请不要传播违反国家规定的信息内容，如封建迷信、教唆犯罪的信息等；</li>
        <li>请学生用户按时提取已预订的订单，避免爽约现象，后期用户一次爽约将三天不能使用预订功能，请诚信使用智慧食堂；</li>
        <li>请商家用户及时处理已接受的订单，诚信使用智慧食堂；</li>
    </ol>
</div>
<p>以上所有条款的最终解释权归智慧食堂开发团队所拥有。</p>
</body>
</html>
