<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>出错啦！ </title>
<style>
body {
    margin: 0;
    padding: 0;
}
.for-logo {
    margin: 30% 0 10% 0;
    text-align: center;
}
#the-logo {
    text-align: center;
    width: 30%;
    height: 35%;
    margin-top: 25vh;
}
p{
    text-align:center;
    font-size:3vh;
}
h1{
    border-bottom: 1px solid grey;
    padding: 30px;
    font-size: 
}
</style>
</head>

<body style="height:100vh">
<div class="for-logo">
    <img id="the-logo" src="http://wenwen.soso.com/p/20090321/20090321195145-250286336.jpg" 
                    alt="加载失败"  style="max-width:100%"/>
</div>
<div>
    <p>后台哥哥加班优化中...</p>
</div>
</body>