{% extends 'base.html' %}
{% load staticfiles %}
{% block extheader %}
    <style>
        #panel-login {
            max-width: 350px;
        }

        #panel-login .controls {
            padding: 0px 15px 15px !important;
        }

        #panel-login .alert-block {
            padding: 0px;
        }

        #panel-login .alert-block ul {
            margin: 10px 15px;
            padding-left: 0px;
        }

        #panel-login .alert-block ul li {
            list-style-type: none;
        }
    </style>
    <link href="{% static 'xadmin/css/xadmin.main.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
    商家认证
{% endblock %}

{% block body %}
    <body class="login">

    <div class="container" style="margin-top: 10%">

        <form action="{% url 'login' %}" method="post" id="login-form">
            <div class="panel panel-default panel-single" id="panel-login">
                {% csrf_token %}
                <div class="panel-heading">

                    <h2 class="form-signin-heading">商家认证</h2>

                </div>
                <div class="panel-body">
                {{ errors.username }}
                    {% if mainerror %}
                        <div class="alert alert-block alert-danger">

                            <ul>
                                <li>{{ mainerror }}</li>
                            </ul>
                        </div>
                    {% endif %}

                    <div id="div_id_username" class="row {% if form.username.errors %}has-error{% endif %}">
                        <div class="controls clearfix">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                <input class="form-control input-lg" id="id_username" maxlength="254"
                                       name="username" type="text" placeholder="授权号">
                            </div>
                            {% for error in form.username.errors %}
                            <p class="text-danger help-block">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="div_id_password" class="row {% if form.username.errors %}has-error{% endif %}">
                        <div class="controls clearfix">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                                <input class="form-control input-lg" id="id_password" name="password"
                                       type="password" placeholder="授权密码">
                            </div>
                            {% for error in form.password.errors %}
                            <p class="text-danger help-block">{{ error|escape }}</p>
                            {% endfor %}

                        </div>
                    </div>

                    <input type="hidden" name="this_is_the_login_form" value="1"/>
                    <input type="hidden" name="next" value="/admin/"/>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>

                </div>

            </div>
        </form>

    </div> <!-- /container -->
    <div class="container " style="margin-top: 10%">
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>温馨提示：</h4>
            <p>若您未认证请点击如下连接选择商家或学生进一步认证</p>
        </div>
    </div>

    </body>
{% endblock %}
