{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta id="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1,  user-scalable=no,minimal-ui"
          name="viewport">
    <meta name="format-detection" content="telephone=no">
    <title>个人中心</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ucenter/userstyle.css' %}">
    <style>
        button {
            cursor: pointer;
        }
    </style>
</head>
<body>
<article>
    <div class="inbody1">
        <div class="inbody1-1">
            <img class="userimg" src="{{ user.avatar }}">
        </div>
        <div class="inbody1-2">
            <ul>
                <li>姓名：{{ user.truename }}</li>
                <li>性别：{{ user.oauthqqprofile.get_sex_display }}</li>
                <li>学号：{{ user.oauthqqprofile.stuid }}</li>
            </ul>
        </div>
    </div>
</article>

<article>
    <div class="order-body">
        <div class="order-inf">
            <span>预约信息</span>
        </div>
        <div class="order-list">
            <div class="order-doing">
                <a class="but {% if not request.GET.s or request.GET.s == 'now' %}aactive{% endif %}"
                   href="?s=now">进行中</a>
            </div>
            <div class="order-done">
                <a class="but {% if request.GET.s == 'done' %}aactive{% endif %}" href="?s=done">已完成</a>
            </div>
        </div>
        <div class="order-content">
            {% if not request.GET.s or request.GET.s == 'now' %}
                {% for order in user.get_now_order_list %}
                    <div class="order-div">
                        <div class="order-number">
                            <span>订单号：{{ order.pk }}</span>
                        </div>
                        <div class="order-content-z">
                            <span>{{ order.food.name }}</span>
                        </div>
                        <div class="order-content-y">
                            <button type="button" style="cursor: pointer" onclick="doneorder({{ order.pk }})">取餐
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if request.GET.s == 'done' %}
                {% for order in user.get_done_order_list %}
                    <div class="order-div">
                        <div class="order-pj-z">
                            <span>{{ order.food.name }}</span>
                        </div>
                        <div class="order-time">
                            <span>{{ order.date_done }}</span>
                        </div>
                        {% if not order.is_comment %}
                            <div class="order-pj-y">
                                <button type="button" onclick="window.location.href='{% url 'comment' order.pk %}'">点评
                                </button>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</article>


<article>
    <div class="order-choose">
        <ul class="order-ul">
            <a href="{% url 'mycollect' %}" class="order-a">
                <div class="order-li">
                    <div class="t1">
                        <img src="http://ouq4wie1o.bkt.clouddn.com/%E6%88%91%E7%9A%84%E6%94%B6%E8%97%8F.png"
                             width="24px" height="24px">
                    </div>
                    <div class="t2">
                        <span>我的收藏</span>
                    </div>
                    <div class="t3">
                        <span>></span>
                    </div>
                </div>
            </a>

            <a href="{% url 'myvouchers' %}" class="order-a">
                <div class="order-li">
                    <div class="t1">
                        <img src="http://ouq4wie1o.bkt.clouddn.com/%E6%88%91%E7%9A%84%E7%A4%BC%E5%88%B8.png"
                             width="24px" height="24px">
                    </div>
                    <div class="t2">
                        <span>我的礼券</span>
                    </div>
                    <div class="t3">
                        <span>></span>
                    </div>
                </div>
            </a>

            <a href="{% url 'about' %}" class="order-a">
                <div class="order-li">
                    <div class="t1">
                        <img src="http://ouq4wie1o.bkt.clouddn.com/%E5%85%B3%E4%BA%8E%E6%88%91%E4%BB%AC.png"
                             width="24px" height="24px">
                    </div>
                    <div class="t2">
                        <span>关于我们</span>
                    </div>
                    <div class="t3">
                        <span>></span>
                    </div>
                </div>
            </a>

            <a href="{% url 'agree' %}" class="order-a">
                <div class="order-li">
                    <div class="t1">
                        <img src="http://ouq4wie1o.bkt.clouddn.com/%E5%8D%8F%E8%AE%AE.png" width="24px" height="24px">
                    </div>
                    <div class="t2">
                        <span>使用协议</span>
                    </div>
                    <div class="t3">
                        <span>></span>
                    </div>
                </div>
            </a>

        </ul>
    </div>
</article>


<script>

    function doneorder(id) {
        window.location.href = "{% url 'orderdone' %}?id=" + id;
    }

    {% if not request.user.is_authenticated %}
        $(document).ready(function () {
            window.location.href = "{{ auth_url|safe }}";
        });
    {% endif %}
</script>

</body>
</html>